{% extends "layout.html" %}
 
{% block content %}
    <h2>Contact</h2><br/>
    <ul class="contactlist">
        <li>General Contact
            <ul>
                <li><a href="mailto:info@nycaasc.com">info@nycaasc.com</a></li>
            </ul>
        </li><br/>
        <li>New York University
            <ul>
                <li>Ben Dumond - <a href="mailto:Ben.Dumond@nycaasc.com">Ben.Dumond@nycaasc.com</a></li>
                <li>Alan Wang - <a href="mailto:Alan.Wang@nycaasc.com">Alan.Wang@nycaasc.com</a></li>
                <li>Brennan Lowe - <a href="mailto:Brennan.Lowe@nycaasc.com">Brennan.Lowe@nycaasc.com</a></li> 
            </ul>
        </li><br/>
        <li>Columbia University
            <ul>
                <li>Julia Koo - <a href="mailto:Julia.Koo@nycaasc.com">Julia.Koo@nycaasc.com</a></li>
                <li>Elaine Truong - <a href="mailto:Elaine.Truong@nycaasc.com">Elaine.Truong@nycaasc.com</a></li>
            </ul>
        </li><br/>
        <li>Baruch College:
            <ul>
                <li>David Cheng - <a href="mailto:David.Cheng@nycaasc.com">David.Cheng@nycaasc.com</a></li>
            </ul>
        </li><br/>
        <li>City College
            <ul>
                <li>Jeffrey Louie - <a href="mailto:Jeffrey.Louie@nycaasc.com">Jeffrey.Louie@nycaasc.com</a></li>
            </ul>
        </li><br/>   
        <li>Hunter College
            <ul>
                <li>Maple Wu - <a href="mailto:Maple.Wu@nycaasc.com">Maple.Wu@nycaasc.com</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

