{% extends "layout.html" %}
 
{% block content %}
    <h2>History</h2><br/>
    The New York City Asian American Student Conference (NYCAASC) is now entering its seventh successful year since the first collaboration between New York University and Columbia University. The first conference was themed BREAK THE SILENCE: DISCOVER, INSPIRE, EMPOWER.<br/><br/>
    Since the conference’s inaugural year, the committee has grown to include students from different schools in the New York area, including Hunter College, Baruch College, Fordham University, the School of Visual Arts, and Brooklyn College. The theme for the second conference was REDEFINE, in which attendees explored the evolution of the Asian American community and were asked to redefine what it means to be Asian American.<br/><br/>
The third conference was themed ACT: EMPOWERING OUR GENERATION. This conference focused on mobilizing individuals and communities to challenge and transform injustices faced by Asian Americans. The fourth annual NYCAASC was titled CHANGE IN MOTION and explored the movement and changes in Asian America, examining the past to inform the present and change the future. The fifth annual conference was themed EMERGING PROFILES which explored the ways in which the Internet and media have shaped
today's discussions about the Asian American identity. The sixth annual conference was titled INK: IMAGINE AND RETHINK which explored the notions of Asian American identity and how mainstream representation encroach on definitions of self.<br/><br/>
    <ol>
        <li>Redefine</li>
        <li>Act</li>
        <li>Change in Motion</li>
        <li>Emerging Profiles</li>
        <li>INK: Imagine aNd rethinK</li>
    </ol>
{% endblock %}

